<html>
    <head>
        <title>Glen's Vue App</title>
        <link href="assets/css/style.min.css" rel="stylesheet" />
    </head>
    <body>
        <div id="app" class="mt-5">
            <div class="container" v-cloak>
                <div class="card">
                    <div class="card-body">
                        <h1 class="card-title">{{title}}</h1>
                        <p>{{description}}</p>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Enter item name" v-model="item" v-bind:class="{'has-error': alreadyExists}" v-on:keyup="checkExists()">
                            <span class="input-group-btn">
                                <button v-on:click="addItem()" class="btn btn-primary" v-bind:disabled="alreadyExists">
                                    <i class="fa fa-plus"></i> Add
                                </button>
                            </span>
                        </div>
                        <p v-if="alreadyExists" class="alert alert-warning mt-3">
                            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> That item already exists within the list!
                        </p>
                        <h2 v-if="hasItems" class="mt-3">List of Items</h2>
                        <ul>
                            <li v-for="item in items">{{item}} <i class="fa fa-times" v-on:click="removeItem(item)"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script type="text/javascript" src="assets/js/app.min.js"></script>
</html>